<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Web1</display-name>
	<servlet>
		<servlet-name>IdmServlet</servlet-name>
		<servlet-class>IdmServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IdmServlet</servlet-name>
		<url-pattern>/idm</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>IAuthFilter</filter-name>
		<filter-class>AuthFilterSyncope</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>IAuthFilter</filter-name>
		<url-pattern>/pages</url-pattern>
	</filter-mapping>
</web-app>
